<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Writit 𖹭</title>
   <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
   <header>
       <h2 class="logo">Writit 𖹭</h2>
       <nav class="navigation">
            <a href="#">About</a>
            <a href="#">Content Policy</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact</a>
       </nav>
   </header>

   <div class="wrapper">
        <div class="form-box login">
            <h2>❤ Login</h2>
            <form action="/login" method="POST">
                <div class="input-box">
                    <span class="icon">
                            <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" required name="email">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                            <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" required name="password">
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>
                        Don't have an account?
                        <a href="#" class="register-link">Register</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2>❤︎ Registration</h2>
            <form action="/register" method="POST">
                <div class="input-box">
                    <span class="icon">
                            <ion-icon name="person-circle"></ion-icon>
                    </span>
                    <input type="text" required name="username">
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                            <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" required name="email">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                            <ion-icon name="lock-open"></ion-icon>
                    </span>
                    <input type="password" required name="password1">
                    <label>Password</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                            <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" required name="password2">
                    <label>Confirm password</label>
                </div>
                <div class="role-selector">
                    <label>
                        <input type="radio" name="role" value="1" checked> General user
                        <input type="radio" name="role" value="2"> Admin user
                    </label>
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox" required>
                        Agree to the terms & conditions
                    </label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>
                        Already have an account?
                        <a href="#" class="login-link">Login</a>
                    </p>
                </div>
            </form>
        </div>
   </div>

   <script src="/static/script.js"></script>
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>